.DS_Store
/bower_components
/node_modules
/npm-debug.log
/css
/css_2
/media/assets/
!/media/assets/.keep
/media/cliparts/
!/media/cliparts/.keep
/media/assets/uploaded
!/media/assets/uploaded/.keep
/media/assets/system
!/media/assets/system/.keep
/image-tool/cache
!/image-tool/cache/.keep

/assets/images/productos
/pr01239sijdz_20d


/assets/images/logos
!/assets/images/logos/.keep

/map_admin
/sitemap.xml
/sitemap.txt
/sitemap.xml.gz
