//variables
// BreackPoint Mobiles
$phone: 'max-width: 480px';
$phone-scuare: 'max-width: 600px';
$tablet: 'max-width: 767px';
$tablet-landscape: 'max-width: 979px';
$desktop: 'max-width: 1024px';
$desktop-lg: 'max-width: 1174px';
$desktop-lg-m: 'max-width: 1400px';
$desktop-full-m: 'max-width: 1920px';
$desktop-full: 'max-width: 2600px';
// $desktop-lg: 'max-width: 1100px';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: 'screen and (-webkit-min-device-pixel-ratio: 2)';
